[Unit]
Description=Custom IFTTT Service
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ROOT_DIR}}
ExecStart=/usr/bin/node {{ROOT_DIR}}/server.js
Restart=on-failure
RestartSec=10
KillMode=process
User=pi

[Install]
WantedBy=multi-user.target
